# Arquivos e pastas gerados pelo Docker e aplicações
postgres_data/
n8n_data/
redis_data/
evolution_instances/
caddy_data/
caddy_config/

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Arquivo de override do docker para config de URLs de ambiente local
docker-compose.override.yml